dashboarsNodeRed.json
[
    {
        "id": "f6a23cce0734f396",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cab6191d62c1d879",
        "type": "debug",
        "z": "f6a23cce0734f396",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 100,
        "wires": []
    },
    {
        "id": "d04c048a725696e4",
        "type": "mqtt in",
        "z": "f6a23cce0734f396",
        "name": "Luz",
        "topic": "energia/luz",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "57f476947ca5a3e8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 160,
        "wires": [
            [
                "cab6191d62c1d879",
                "e3c45a7a73a9483a",
                "aff69df5e87eb4fc"
            ]
        ]
    },
    {
        "id": "98f4f1db0821950b",
        "type": "mqtt in",
        "z": "f6a23cce0734f396",
        "name": "Consumo",
        "topic": "energia/consumo",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "57f476947ca5a3e8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 400,
        "wires": [
            [
                "c3ae1b10c7e0249d",
                "31446339412426df",
                "92625051bccf1b96"
            ]
        ]
    },
    {
        "id": "c3ae1b10c7e0249d",
        "type": "debug",
        "z": "f6a23cce0734f396",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 320,
        "wires": []
    },
    {
        "id": "e3c45a7a73a9483a",
        "type": "ui_gauge",
        "z": "f6a23cce0734f396",
        "name": "Gráfico Medidor Luz",
        "group": "2a5047f3d1c0c985",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Medidor de Luz",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#ffff00",
            "#fbff00"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 160,
        "wires": []
    },
    {
        "id": "aff69df5e87eb4fc",
        "type": "ui_chart",
        "z": "f6a23cce0734f396",
        "name": "Gráfico Análise Luz",
        "group": "ec8d6bd3710c71b2",
        "order": 1,
        "width": "24",
        "height": "6",
        "label": "Análise Luz",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#fff700",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "31446339412426df",
        "type": "ui_gauge",
        "z": "f6a23cce0734f396",
        "name": "Gráfico Medidor Consumo",
        "group": "20374071ee41dcfd",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Medidor Consumo",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 400,
        "wires": []
    },
    {
        "id": "92625051bccf1b96",
        "type": "ui_chart",
        "z": "f6a23cce0734f396",
        "name": "Gráfico Análise Consumo",
        "group": "3d09a0b9b70b7054",
        "order": 1,
        "width": "24",
        "height": "6",
        "label": "Análise Consumo",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#ff0000",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "bcf39a353bad98cd",
        "type": "mqtt in",
        "z": "f6a23cce0734f396",
        "name": "Mensagem de Alerta",
        "topic": "energia/alerta",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "57f476947ca5a3e8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 370,
        "y": 640,
        "wires": [
            [
                "38d4a87aafaa68e3",
                "2261196a61cfcbb7"
            ]
        ]
    },
    {
        "id": "38d4a87aafaa68e3",
        "type": "ui_text",
        "z": "f6a23cce0734f396",
        "group": "35210edc6ae951c1",
        "order": 0,
        "width": "26",
        "height": "2",
        "name": "Mensagem",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 590,
        "y": 680,
        "wires": []
    },
    {
        "id": "2261196a61cfcbb7",
        "type": "debug",
        "z": "f6a23cce0734f396",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 620,
        "wires": []
    },
    {
        "id": "82b339854f57033f",
        "type": "ui_spacer",
        "z": "f6a23cce0734f396",
        "name": "spacer",
        "group": "f6ac6baf3ab51cc3",
        "order": 6,
        "width": "1",
        "height": "1"
    },
    {
        "id": "0d6669afc78b2fce",
        "type": "ui_spacer",
        "z": "f6a23cce0734f396",
        "name": "spacer",
        "group": "d5ba1e15695a59e4",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "57f476947ca5a3e8",
        "type": "mqtt-broker",
        "name": "IP Servidor",
        "broker": "23.22.163.175",
        "port": "1883",
        "clientid": "LuanArthurJorge",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2a5047f3d1c0c985",
        "type": "ui_group",
        "name": "Monitoramento Luz",
        "tab": "1557af6f13e8e827",
        "order": 1,
        "disp": false,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ec8d6bd3710c71b2",
        "type": "ui_group",
        "name": "Análise Gráfica Luz",
        "tab": "1557af6f13e8e827",
        "order": 2,
        "disp": false,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "20374071ee41dcfd",
        "type": "ui_group",
        "name": "Consumo",
        "tab": "1557af6f13e8e827",
        "order": 3,
        "disp": false,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3d09a0b9b70b7054",
        "type": "ui_group",
        "name": "Análise Grafica Consumo",
        "tab": "1557af6f13e8e827",
        "order": 4,
        "disp": false,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "35210edc6ae951c1",
        "type": "ui_group",
        "name": "Mensagem Alerta",
        "tab": "1557af6f13e8e827",
        "order": 6,
        "disp": false,
        "width": "26",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f6ac6baf3ab51cc3",
        "type": "ui_group",
        "name": "",
        "tab": "1557af6f13e8e827",
        "order": 5,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d5ba1e15695a59e4",
        "type": "ui_group",
        "name": "",
        "tab": "1557af6f13e8e827",
        "order": 7,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1557af6f13e8e827",
        "type": "ui_tab",
        "name": "Gráficos",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]